.card {
  font-family: Roboto, sans-serif;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  display: grid;
  border: 1px solid black;
  border-radius: 4px;
  padding: .5rem;
  height: max-content;
  overflow: hidden;
  grid-gap: 0.5rem;
}

.card:not(.hidden):nth-of-type(even) {
  background-color: rgb(243, 244, 246);
  border-color: rgb(209, 213, 219);
}
.card:not(.hidden):nth-of-type(even) .card--table thead,
.card:not(.hidden):nth-of-type(even) .card--table tr:nth-of-type(even) {
  background-color: white;
}

.card--header {
  display: grid;
  grid-template-columns: 2.5fr 1rem;
  align-items: flex-start;
  grid-gap: 1rem;
}

.card {
  width: 50vw;
}

.card--tables {
  display: flex;
  /* grid-gap: 1rem; */
  flex-direction: column;
}

.card--centered {
  text-align: center;
}

@media (min-width: 475px) {
  .card--tables {
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    /* max-width: 900px; */
  }

  .table--implementation {
    grid-column: 2 / span 1;
  }
}

/* @media (min-width: 745px) {
  .card--header {
    grid-template-columns: 2.5fr 1fr 1fr 1rem;
  }
} */

.card--title {
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.0125em;
  margin: 0;
  padding: 0;
  grid-column: 1 / span 3;
  word-break: break-word;
}

.card--available {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1.5em);
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  /* margin-top: 0.75rem; */
  grid-column: 2 / span 1;
}

.card--more:not(.card--title) {
  display: flex;
  cursor: pointer;
  color: #6200ee;
  margin: 0;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border: 0;
  background: none;
  padding: 0;
  align-self: center;
  grid-column: 3 / span 1;
}

.card--more.card--title {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
}

@media (min-width: 745px) {
  .card--title {
    grid-column: 1 / span 1;
  }

  .pills {
    grid-column: 2 / span 1;
  }

  .card--more:not(.card--title) {
    grid-column: -2 / span 1;
  }
}

.card--body {
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.0178571429em;
  display: none;
}

.card--body[data-open] {
  display: block;
}

.card--details {
  grid-column: 1 / span 3;
}

.card--more:not(.card--title)[data-open] .card--more-icon {
  transform: rotate(45deg);
}

.card--more-icon {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}

.card--summary {
  opacity: 0.6;
  margin: 0;
  margin-top: 1rem;
  grid-column: 1 / span 1;
}

@media (min-width: 900px) {
  .card--with-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: min(calc(100% - (600px + 2rem)), 80ch) minmax(calc(600px + 1rem), 1fr); */
    grid-gap: 1rem;
  }

  .card--with-summary .card--tables {
    grid-column: 2 / span 1;
  }
}

.card--location {
  width: 1.5em;
  height: auto;
}

.card--location__big {
  width: 2.5em;
}



      /* .card--more::after {
      content: '+';
      display: inline-block;
      margin-left: 0.25rem;
    }

    [open] > .card--more::after {
      transform: rotate(45deg);
    } */

    .card--more::-webkit-details-marker {
      display: none;
    }

    .card--table {
      width: 100%;
      max-width: 400px;
      border: 1px solid #e8eaed;
      margin-top: 1rem;
      justify-self: center;
    }

    .card--table tr:nth-of-type(even),
    .card--table thead {
      background-color: #e8eaed;
    }

    .card--table td {
      border: 0;
    }

    .card--resources {
      grid-column: 1 / -1;
      display: grid;
      grid-gap: 1rem;
    }

    .card--resources h3 {
      font-size: 1.15em;
      line-height: 1.4;
      font-weight: 300;
      letter-spacing: 0.0125em;
      margin: 0;
      padding: 0;
      word-break: break-word;
    }

    .card--resources ul {
      margin: 0;
      padding-inline-start: 1rem;
    }

    @media (min-width: 700px) {
      .card--resources {
        grid-template-columns: 1fr 1fr;
      }
    }


    .pills {
      display: flex;
      flex-wrap: wrap;
      margin: -0.25rem -0.25rem;
      /* margin-top: 0.75rem; */
      grid-column: 1 / span 1;
    }

    

    .pill {
      margin: 0.25rem 0.25rem;
      padding: 0 0.75em;
      background-color: #e8eaed;
      border-radius: 1em;
      font-size: 0.875em;
    }

    .pill--shipped {
      background-color: #aecbfa;
    }

    .pill--dev {
      background-color: #fde293;
    }

    .pill--ot {
      background-color: #a8dab5;
    }