{% macro filter(platforms, versions) %}
<style>
  #filter-toggle {
    background: rgb(250, 250, 250);
    border: 0;
    padding: 0;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
    transform: translateX(2.5rem);
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    position: relative;
  }

  #filter-toggle::before {
    content: '';
    height: 100%;
    width: 10px;
    background-color: rgb(250, 250, 250);
    position: absolute;
    top: 0;
    left: -5px;
  }

  #filter-toggle[data-active]::after {
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
  }

  #filter-header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(250, 250, 250);
    z-index: 20;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.5rem 0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  #filter-header[data-open] {
    transform: translateX(0);
  }

  #filter {
    margin-top: -2.5rem;
    padding: 1rem;
  }

  #filter label {
    display: block;
    margin-bottom: 0.25rem;
  }

  #filter input:not([type='submit']):not([type='reset']),
  #filter select {
    width: 100%;
  }
  #filter div + div {
    margin-top: 1rem;
  }

  .filter--controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  [type='reset'] {
    border: 0;
    background: none;
    display: inline-flex;
    cursor: pointer;
    color: #6200ee;
    margin: 0;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    border: 0;
    background: none;
    padding: 0;
    align-self: center;
    text-transform: uppercase;
  }

  [type='submit'] {
    background-color: #6200ee;
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.625em 1em;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
  }
</style>
<aside id="filter-header">
  <button id="filter-toggle" aria-label="Open filter">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M0 0h24m0 24H0" fill="none" />
      <path d="M7 6h10l-5.01 6.3L7 6zm-2.75-.39C6.27 8.2 10 13 10 13v6c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-6s3.72-4.8 5.74-7.39A.998.998 0 0018.95 4H5.04c-.83 0-1.3.95-.79 1.61z" />
      <path d="M0 0h24v24H0V0z" fill="none" />
    </svg>
  </button>
  <form action="" id="filter">
    <div>
      <label for="search">Search</label>
      <input type="text" id="search" name="search" />
    </div>
    <div>
      <label for="platform">Platform</label>
      <select name="platforms" id="platform" multiple size="{{platforms | length }}">
        {% for platform in platforms %}
        <option value="{{platform | lower}}">{{platform}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="bug">Tracking bug</label>
      <input type="number" id="bug" step="1" name="bug" />
    </div>
    <div>
      <label for="version">Minimum Chrome version</label>
      <input type="number" name="version" min="{{versions.min}}" max="{{versions.max}}" step="1" id="version" />
    </div>

    <div class="filter--controls">
      <input type="reset" />
      <input type="submit" />
    </div>
  </form>
</aside>
<script type="module">
  import Fuse from 'https://cdn.jsdelivr.net/npm/fuse.js@6.4.3/dist/fuse.esm.js';

  window.addEventListener('DOMContentLoaded', () => {
    const filterButton = document.querySelector('#filter-toggle');

    filterButton.addEventListener('click', (e) => {
      const parent = e.target.closest('#filter-header');
      if (parent.dataset.open) {
        e.target.closest('#filter-toggle').setAttribute('aria-label', 'Open filter');
        delete parent.dataset.open;
      } else {
        parent.dataset.open = true;
        e.target.closest('#filter-toggle').setAttribute('aria-label', 'Close filter');
      }
    });

    const fuse = new Fuse(cards, {
      keys: ['title', 'desc'],
      includeScore: true,
      minMatchCharLength: 2,
      includeMatches: true,
      ignoreLocation: true,
    });

    const filter = document.getElementById('filter');

    init();

    function init() {
      const search = new URL(window.location).search;

      if (search) {
        const params = new URLSearchParams(search.substring(1));
        const toSearch = {
          version: params.get('version'),
          search: params.get('search'),
          platforms: params.get('platforms') ? JSON.parse(params.get('platforms')) : '',
          bug: params.get('bug'),
        };

        for (const elem of filter.querySelectorAll('[name]')) {
          const param = toSearch[elem.name];
          if (param) {
            if (elem.type === 'select-multiple') {
              for (const item of param) {
                elem.querySelector(`[value="${item}"]`).selected = true;
              }
            } else {
              elem.value = param;
            }
          }
        }

        filterResults(toSearch);
      }
    }

    /**
     * @param {object} options - Options to filter on
     * @param {string} [options.version] - Minimum version to filter on
     * @param {string} [options.search] - Search string to look for
     * @param {string[]} [options.platforms] - Array of possible platforms it could have launched on
     * @param {string} [options.bug] - Bug number
     */
    function filterResults({ version, search, platforms, bug } = options) {
      const searchParams = new URLSearchParams();
      searchParams.set('version', version);
      searchParams.set('search', search);
      searchParams.set('platforms', JSON.stringify(platforms));
      searchParams.set('bug', bug);

      window.history.pushState('', '', `?${searchParams.toString()}`);

      document.querySelector('#filter-toggle').dataset.active = true;

      const s = fuse.search(search).filter((s) => s.score <= 0.25);
      const results = (s.length ? s.map((i) => i.item) : cards)
        // Version
        .filter((card) => {
          if (isNaN(version)) return true;

          if (card.status === 'shipped') {
            if (card.shipping === false) return true;
            if (card.shipping?.ship >= version) return true;
          }
          if (card.shipping?.ot?.start >= version) return true;
          if (card.shipping?.dev >= version) return true;

          return false;
        })
        // Platform
        .filter((card) => {
          if (platforms.length === 0) return true;

          let filtered = [];
          if (Array.isArray(card.where)) {
            filtered = filtered.concat(card.where);
          }
          if (card.pwa) {
            filtered.push('pwa');
          }

          return filtered.length >= 0 && filtered.filter((w) => platforms.includes(w.toLocaleLowerCase())).length > 0;
        });

      for (const card of cards) {
        let display = false;
        if (results.find((c) => c.bug === card.bug)) {
          display = true;
        }

        if (display) {
          card.elem.style.display = 'block';
        } else {
          card.elem.style.display = 'none';
        }
      }
    }

    filter.addEventListener('submit', (e) => {
      e.preventDefault();
      const data = new FormData(e.target);

      const version = parseInt(data.get('version'));
      const search = data.get('search');
      const platforms = data.getAll('platforms').map((p) => p.toLocaleLowerCase());
      const bug = data.get('bug');

      return filterResults({ version, search, platforms, bug });
    });

    filter.addEventListener('reset', (e) => {
      for (const card of cards) {
        card.elem.style.display = 'block';
      }

      delete document.querySelector('#filter-toggle').dataset.active;

      if (location.search) {
        history.pushState('', '', location.href.replace(location.search, ''));
      }
    });
  });
</script>
{% endmacro %}
