// Releases
.releases {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 125ch;
  position: relative;
}

.release {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;

  &--type,
  &--date {
    margin: 0;
    opacity: 1;
  }

  &--type {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &--title {
    font-size: 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    font-weight: 300;
  }

  &--date {
    margin-top: 1rem;
    text-align: center;
  }

  img {
    height: 1em;
    margin-right: 0.5rem;
  }
}

// Sections
section > h2 {
  margin: 0;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
}

section {
  padding: 1rem 0;
  background: white;
  position: relative;
}

section:first-of-type {
  padding-top: 0;
  margin-top: 1rem;
}

// Cards
.cards {
  list-style: none;
  margin: 0;
  padding: 2rem 0;
}

// Scroll padding for sticky header
:root.view--list {
  scroll-padding-top: 2.75rem;
  scroll-behavior: smooth;
}
